.footerWrapper {
	display: flex;
	padding: 40px 25% 40px 25%;
	border-top: 0.2px solid lightgray;
	background-color: rgb(237, 238, 239);
}
.footerUl {
	font-size: 15px;
	margin-right: 150px;
}
.footerUl p {
	font-size: 17px;
	color: rgb(193, 23, 23);
	font-weight: bold;
}
.footerUl li {
	list-style: none;
}
