.ItemWrapper {
	display: flex;
	width: 630px;
	height: 210px;
	border-top: 0.5px solid lightgray;
	padding: 20px 0 20px 0;
	margin-bottom: 40px;
}
.itemImg {
	width: 250px;
	height: 210px;
}
p {
	margin: 0;
}
.itemInfo {
	margin-left: 20px;
}
#cateTitle {
	font-size: 18px;
}
#findTable {
	background: ;
}
